//@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,100,100italic,300italic,400italic,500,500italic,700,700italic,900,900italic);

body {
  margin: 0;
  padding: 0;
}

.blog-page {
  background: #333;
  position: relative;
  color: black
}

h1 {
  color: orange;
  font-family: Roboto;
  font-weight: 400;
}

h1.page-title {
  font-size: 4rem;
  font-weight: 200;
}

.page-body {
  color: #cecece;
  font-family: Roboto;
}

.page-body a {
  color: orange;
}

.page-body a:hover,
.page-body a:active {
  color: #ffc04d;
}

.page-body blockquote {
  padding: 0 0 0 15px;
  border-left: 3px solid #996300;
  margin: 16px 0;
}

.page-body p {
  font-size: 1rem;
}

.page-body p>code,
.page-body li>code,
.page-body dd>code,
.page-body td>code {
  background: #222;
  padding: 1px 5px 2px;
  margin: 0 1px;
  border-radius: 4px;
  position: relative;
  top: -1px
}

.page-body h1,
.page-body h2,
.page-body h3,
.page-body h4,
.page-body h5,
.page-body h6 {
  font-family: Roboto;
}

.page-body h1 {
  font-weight: 300;
  font-size: 3rem;
  font-size: 3rem;
}

.page-body h2 {
  color: #e69500;
  font-weight: 100;
  font-size: 3rem;
  margin-top: 2.2rem;
}

.page-body h3 {
  color: #e69500;
  font-weight: 300;
  font-size: 2rem;
  margin-top: 1.8rem;
}

.page-body h4 {
  color: #e69500;
  font-weight: 300;
  font-size: 1rem;
  margin: 0 0 5px 0;
}

.page-body h5 {
  font-size: 1.25rem;
  font-weight: 900;
  letter-spacing: 1px;
}

.page-body h6 {
  font-size: 1.1rem;
}
div.page-content {
  background: #333;
}

ul li {
  color: orange !important;
  font-size: 1rem;
}

ul li span {
  color: #cecece;
}

.page-body ul,
.page-body ol,
.page-body dl {
  margin: 0 0 1rem 22px
}

.page-body li {
  margin: 0 0 5px 0
}

hr {
  background: -webkit-linear-gradient(left, transparent, rgba(255, 165, 0, 0.1), transparent) !important;
  background: -moz-linear-gradient(left, transparent, rgba(255, 165, 0, 0.1), transparent) !important;
  background: linear-gradient(left, transparent, rgba(255, 165, 0, 0.1), transparent) !important;
}

hr:before {
  background: -webkit-linear-gradient(left, transparent, rgba(255, 165, 0, 0.3), transparent) !important;
  background: -moz-linear-gradient(left, transparent, rgba(255, 165, 0, 0.3), transparent) !important;
  background: linear-gradient(left, transparent, rgba(255, 165, 0, 0.3), transparent) !important;
}

.page-body hr {
  border: 0;
  height: 1px;
  position: relative;
  margin: 3rem 0;
}

.page-body hr:before {
  content: "";
  position: absolute;
  top: -1px;
  left: 0;
  width: 100%;
  height: 1px;
}

blockquote {
  border-left: 3px solid orange;
  padding: 0 0 0 15px;
  margin: 16px 0;
}

.blog-page .page-content {
  padding: 5% 10%
}

@media (max-width: 850px) {
  .blog-page .page-content {
    padding: 40px
  }
}

@media (max-width: 550px) {
  .blog-page .page-content {
    padding: 20px
  }
}

div#container {
  display: table;
  
  /* I want the whole search box
     to be exactly this wide. */
  width: 400px;
  
  margin: 50px auto 0;
}
div#container div.cell {
  display: table-cell;
}
div#container div.cell:last-child {
  /* Makes sure this cell is only wide enough
     for the button label. */
  width: 1px;
}

input[type=search], div.button {  
  width: 100%;
  height: 35px;

  -moz-box-sizing: border-box;
  box-sizing: border-box;
  
  font-family: inherit;
  font-size: inherit;
}

input[type=search] {
  margin: 0;
  padding: 0 10px;
  
  background-color: #f8f8f8;
  
  border: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

div.button {
  line-height: 35px;

  margin: 0;
  padding: 0 20px;

  color: #fff;
  background-color: orange;
  font-weight: bold;
  
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  
  white-space: nowrap;
}